﻿@using Microsoft.Ajax.Utilities
@model Client.Models.ParametersModel

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <p>
                Request sequence id: @Html.DisplayFor(model => model.RequestParameter)
            </p>
            @if (Model.IsFileNotFound)
            {
                <p class="error">File not found from legacy service</p>
            }
            else if (Model.IsWrongFormat)
            {
                <p class="error">Data is in the wrong format in legacy service</p>
            }
            else
            {   
                if (!Model.PhoneNumber.IsNullOrWhiteSpace())
                {
                    <span>Phone: @Html.DisplayFor(model => model.PhoneNumber) <br/></span>
                }

                if (Model.ServiceLanguage != null)
                {
                    <span>Language: @Html.DisplayFor(model => model.ServiceLanguage) <br /></span>
                }

                if (Model.IsServiceActive == false || Model.IsServiceActive == null)
                {
                    <span>Service is inactive</span>
                }
                else
                {
                    if (Model.ServiceEndTime != null)
                    {
                        <span>Service active until @Html.DisplayFor(model => model.ServiceEndTime) <br/></span>
                    }

                    if (Model.IsXLServiceActive == false || Model.IsXLServiceActive == null)
                    {
                        <span>XL-Service inactive <br/></span>
                    }
                    else
                    {
                        if (Model.XLServiceActivitonTime != null && Model.XLServiceEndTime != null && Model.XlServiceLanguage != null)
                        {
                            <span>
                                XL-service active
                                (@Html.DisplayFor(model => model.XLServiceActivitonTime) - @Html.DisplayFor(model => model.XLServiceEndTime))
                                in @Html.DisplayFor(model => model.XlServiceLanguage) language <br/>
                            </span>
                        }
                    }

                    if (Model.IsOverrideInUse == true)
                    {
                        <p><br/>
                            Except for: <br/>
                            <table class="table">
                                <tr>
                                    <th>Phone</th> <th>Name</th>
                                </tr>
                                @for (var i = 0; i < Math.Max(Model.OverrideNames.Count, Model.OverridePhoneNumbers.Count); i++)
                                {
                                    <tr>
                                        <td>
                                            @if (Model.OverridePhoneNumbers.Count > i)
                                            {
                                                <span>@Html.DisplayFor(model => model.OverridePhoneNumbers[i])</span>
                                            }

                                        </td><td>
                                            @if (Model.OverrideNames.Count > i)
                                            {
                                                <span>@Html.DisplayFor(model => model.OverrideNames[i])</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </p>
                    }
                }

            }

        </div>
    </div>
</div>